<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\org-neovera-jdiablo\.s"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org-neovera-jdiablo/src/test/java/org/neovera/jdiablo/OptionsExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.neovera.jdiablo.OptionsExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s &quot;string from arg&quot;&#13;&#10;-i 88&#13;&#10;-b true&#13;&#10;-l 88&#13;&#10;-d 88.88888&#13;&#10;-S &quot;string1 from arg&quot;&#13;&#10;-S &quot;string2 from arg,string3 from arg&quot;&#13;&#10;-p &quot;propkey1=propval1 from arg&quot;&#13;&#10;-p &quot;propkey2=propval2 from arg&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org-neovera-jdiablo"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
